<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Prompto! - Login</title>
  </head>
  <body>
    <section class="prompt">
      <h1>Login to Prompto!</h1>

      <form action="/login" method="post">
        Email:<br />
        <input type="email" name="email" id="email" /><br />
        Password: <br />
        <input type="password" name="password" id="password" />
        <br />
        <button type="submit">Login</button>
      </form>
    </section>
  </body>
</html>
