@import "../../node_modules/@blueprintjs/core/lib/scss/variables";

.app-layout{
  display: flex;
  height:100%;
}

.app-layout__side{
  width: 20%;
}

.app-layout__main{
  flex-grow: 1;
  background-color: $dark-gray1;
}